---
import { Icon } from 'astro-icon'
import { t, changeLanguage } from "i18next";
const contactWays = [
    {tag:"phone",title:t("HELP.PHONE"), hotLink:"800 440 2030"},
    {tag:"message",title:t("HELP.MESSAGE"), hotLink:"Click here"},
    {tag:"outside",title:t("HELP.FOR_OUTSIDE"), hotLink:"+966 9200 2 2030"},
    {tag:"twitter",title:t("HELP.TWITTER"), hotLink:"@tweeq"}
]
---
<div class="mx-auto max-w-6xl py-8 sm:py-16 lg:px-6 px-3">
    <h2 class="my-10 text-3xl sm:text-4xl md:text-6xl md:font-extrabold tracking-tight text-gray-900 text-center">{t("HELP.HELP_TITLE")}</h2>
    <div class="md:flex md:justify-around md:items-center sm:flex sm:justify-between sm:items-center px-3 bg-bgHelp rounded-3xl my-5">
        <div class="sm:py-3 py-3 md:py-1">
            <h3 class="text-slate-800 text-2xl">{t("HELP.SUB_TITLE")}</h3>
            <div class="md:grid md:grid-cols-2 flex flex-col md:gap-7 md:mt-7 sm:space-y-3 space-y-3 md:space-y-0">
                {
                    contactWays.map((service)=> { return(
                        <div class="flex items-center space-x-5 w-full">
                            {service.tag==="phone" && <Icon pack="ic" name="outline-phone" class="text-textPrimary w-8" />}
                            {service.tag==="message" && <Icon name="ph:envelope-simple" class="text-textPrimary w-8 sm:md:ml-10" />}
                            {service.tag==="outside" && <Icon name="mdi:web" class="text-textPrimary w-8" />}
                            {service.tag==="twitter" && <Icon name="codicon:twitter" class="text-textPrimary w-8 md:ml-10" />}
                            <!--<Icon name="mdi:account" /> -->
                            <div class="font-medium">
                                <div>{service.title}</div>
                                <div class="text-sm text-gray-500">{service.hotLink}</div>
                            </div>
                        </div>
                    )
                    })
                }
            </div>
        </div>
        <div class="">
            <img
        src={`/assets/help_imgs.svg`}
        alt="logo"
        loading="lazy"
        decoding="async"
        class="md:-mt-10 sm:mt-14 mx-auto"
            />
        </div>
    </div>
</div>
<style lang="css">
    [astro-icon="outline-phone"] {
        color: blue;
        font-size: small;
        /* OR */
        /* fill: blue; */
    }
    /* [astro-icon="mdi:account"] {
        color: red;
        /* OR 
        fill: red;
    } */
</style>