/* fonts */
@font-face {
  font-family: "SofiaPro-Bold";
  src: url("../fonts/Sofia Pro Bold.otf");
}

@font-face {
  font-family: "SofiaPro-Light";
  src: url("../fonts/Sofia Pro Light.otf");
}

@font-face {
  font-family: "SofiaPro-Medium";
  src: url("../fonts/Sofia Pro Medium.otf");
}

@font-face {
  font-family: "SofiaPro-SemiBold";
  src: url("../fonts/Sofia Pro Semi Bold.otf");
}

*,
::before,
::after {
  box-sizing: border-box;
}

body{
  font-family: SofiaPro-Medium, sans-serif;
  background-color: #F7F7F7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold my-2;
  }
  h2 {
    @apply text-3xl font-bold my-2;
  }
  h3 {
    @apply text-2xl font-bold my-2;
  }
  h4 {
    @apply font-bold text-xl my-2;
  }
  h5 {
    @apply font-bold text-lg my-2;
  }
  h6 {
    @apply font-bold text-sm my-2;
  }
  section>p {
    @apply text-lg leading-relaxed my-3;
  }
  blockquote {
    @apply text-left font-bold px-4 my-7 leading-tight border-l-4 border-l-[#d0d7de];
  }
  blockquote>p {
    @apply text-[#57606a] text-lg leading-relaxed font-light py-2;
  }
  img {
    /* @apply my-12; */
  }
  p>em{
    @apply font-normal italic my-2 inline-block;
  }
  p>strong{
    @apply font-bold my-2 inline-block;
  }
  section>p>a{
    @apply font-bold underline text-blue-700;
  }
  section>p>a:hover{
    @apply text-black;
  }
  strong>a {
    @apply font-bold underline text-blue-700;
  }
  strong>a:hover {
      @apply text-black;
    }
ul:not(.list-none) {
      @apply pl-0 list-disc text-lg text-slate-700 ltr:ml-5 rtl:mr-5;
   }
li {
    @apply mb-1;
    }
ol {
    @apply pl-0 list-decimal ltr:ml-5 rtl:mr-5 my-5 text-lg text-slate-500;
  }  
ul {
    @apply pl-0 list-decimal ltr:ml-0 rtl:mr-0 my-3 text-sm text-slate-300;
  }  
code {
    background: gainsboro;
    color: #ccc;
    padding: 5px;
    width: 100%;
    margin: 5px 0px;
  }
  p code,
  ul li *:not(pre) code,
  ul li>code,
  ol li *:not(pre) code,
  ol li>code {
    @apply inline-block text-slate-400 text-sm p-2 leading-none whitespace-nowrap font-mono align-baseline;
  }
  pre,
  ul li pre,
  ol li pre {
    @apply flex p-0 text-sm leading-loose mb-8;
  }
  pre code,
  ul li pre code,
  ol li pre code {
    @apply p-2 bg-slate-900 text-slate-600;
  }

table {
    @apply w-full text-left border-2 border-collapse mb-8 text-sm;
  }
  th {
    @apply font-bold p-4 text-xl border-t-4 border-b;
  }
  td {
    @apply p-4 border-b;
  }
 details{
    @apply px-4 py-5 rounded-xl bg-white shadow-transparent;
  }
  details > summary::-webkit-details-marker {
    @apply hidden;
  }
  details > summary {
    @apply text-slate-900 w-full flex justify-between list-none cursor-pointer border-none font-fMedium relative outline-none;
  }
  
  /* details summary:after {
    @apply content-["+"] text-slate-900 text-3xl absolute ltr:right-0 rtl:left-0 -mt-2 origin-center font-fMedium transition-all;
  } */
  details[open] > summary button{
    @apply rotate-180 text-3xl origin-center font-fMedium absolute ltr:right-0 rtl:left-0 ;
  }
  
  details > summary button{
    @apply rotate-0 text-3xl text-slate-600 absolute ltr:right-0 rtl:left-0 -top-1;
  }

  /* details[open] summary:after {
    @apply rotate-45 text-3xl;
  } */
  details > p {
    @apply pt-5 text-slate-500 font-fMedium;
  } 
  
}
