---
import { t, changeLanguage } from "i18next";
import CustomerCare from "../components/CustomerCare/CustomerCare.astro";
import Layout from "../layouts/Layout.astro"; 
import Footer from "../components/Shared/Footer.astro";

export interface Props {
  name: string;
  title: string;
  category: string;
  author: string;
  excerpt: string;
  slug: string;
}
const posts = await Astro.glob('./posts/en/**/*.{md,mdx}');
const allCategories = posts.filter((post) => post.frontmatter.category !== undefined).map((cat) => cat.frontmatter.category);
const unique = allCategories.filter((v, i, a) => a.indexOf(v) === i)

const categories = unique.map((category:Props) => {
  const customizedCategory = posts.filter(
    (post) => {
      if(post.frontmatter.category !== undefined){
        if( post.frontmatter.category === category){
          const item = {
          category: category,
          title: post?.frontmatter?.title,
          author: post?.frontmatter?.author,
          excerpt: post?.frontmatter?.excerpt,
          slug: post?.frontmatter?.slug,
        };
        return item;
        }
      }
     }
  );
return {name: category, posts:customizedCategory}
});
changeLanguage('en')

const faqs = await Astro.glob('./faqs/en/*.{md,mdx}');
const faqContent = faqs.map(faq => faq);
---
<Layout title="posts">
 <div dir="ltr" class="mx-auto max-w-6xl py-8 sm:py-16 lg:px-6">
   <h2 class="mb-4 text-3xl sm:text-4xl md:text-6xl font-fBold tracking-tight text-gray-900 text-center">{t('TOPICS_TITLE')}</h2>
    <div class="mx-auto max-w-6xl py-8 px-4 sm:py-16 lg:px-6">
       <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 md:grid-cols-3 xl:grid-cols-3">

        {
          categories.map((cat:any) => {
            return (
            <div class="p-4 shadow-sm bg-white rounded-3xl space-y-3">
              <div class="w-8 h-8 rounded-full bg-[#F1F2F5] flex items-center justify-center mt-5">
                {cat.name==="Cards" && 
                <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                credit_card
                </span>}
                {cat.name==="Add money" && 
                <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                add
                </span>
              }
                {cat.name==="Send money" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  <span class="material-symbols-outlined">
                  north_east
                  </span>
                </span>}
                {cat.name==="Payments" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  <span class="material-symbols-outlined">
                  payments
                  </span>
                </span>}
                {cat.name==="Withdraw money" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  call_received
                </span>}
                {cat.name==="Emergencies" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  transfer_within_a_station
                </span>}
                {cat.name==="Tweeq account" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  badge
                </span>}
                {cat.name==="Profile" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  account_circle
                </span>}
                {cat.name==="Suggestions" && <span class="material-symbols-outlined text-textPrimary text-xl flex items-center justify-center">
                  chat
                </span>}
                </div>

          <h3 class="text-2xl font-bold capitalize">{cat.name}</h3>
          {
            cat.posts.map((post:any) => {
              return(
              <ul class="text-gray-500 list-none">
                      <li>
                      <a href={`${post.frontmatter.slug}`} class="hover:underline text-slate-700 no-underline text-sm font-light">{post.frontmatter.title}</a>
                      </li>
                  </ul>
              )
            })
          } 
          </div>
            )
          })
        }
      </div>      
      </div>
 </div>
 <!-- <FaqSection  /> -->
 <div class="px-3 md:px-0">
  {faqContent.map(({Content, frontmatter}:any) => {
    return(
    <h2 class="my-10 text-3xl sm:text-4xl md:text-6xl font-fBold tracking-tight text-gray-900 text-center">{frontmatter.title}</h2>
    <div class="max-w-6xl mx-auto">
      <Content />
      </div>
    )
  })}
  </div>
 <CustomerCare />
 <Footer />
</Layout>
