---
import i18next, { t,changeLanguage } from "i18next";
import Layout from '../../layouts/Layout.astro';

export interface Props {
  title: string;
  category: string;
  author: string;
  excerpt: string;
  slug: string;
}

const posts = await Astro.glob('../../posts/en/*.{md,mdx}');
const allCategories = posts.filter((post) => post.frontmatter.category !== undefined).map((cat) => cat.frontmatter.category);
const unique = allCategories.filter((v, i, a) => a.indexOf(v) === i)

const categories = unique.map((category:Props) => {

  const customizedCategory = posts.filter(
    (post) => {
      if(post.frontmatter.category !== undefined){
        if( post.frontmatter.category === category){
          const item = {
          category: category,
          title: post?.frontmatter?.title,
          author: post?.frontmatter?.author,
          excerpt: post?.frontmatter?.excerpt,
          slug: post?.frontmatter?.slug,
        };
        return item;
        }
      }
     }
  );
return {name: category, posts:customizedCategory}
});

console.log(categories);

---

<Layout title="home">
 <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
  <div class="mx-auto mb-8 max-w-screen-md text-center lg:mb-16">
    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">{t('HEADING_TITLE')}</h2>
    <p class="mb-8 font-light text-gray-500 dark:text-gray-500 sm:text-xl">{t('HEADING_SUMMARY')}</p>
    <label for="email-adress-icon" class="sr-only mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300">Your Email</label>
    <div class="relative">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="h-6 w-6 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <input type="text" id="email-adress-icon" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 pl-12 text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder={t("PLACEHOLDER")} />
    </div>
    <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">{t("SUB_TITLE")}</p>
    <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">{t("SUB_TITLE")}</p>
  </div>
    <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
       <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

        {
          categories.map((cat) => {
            return (
            <div class="rounded p-4 shadow dark:bg-gray-800">
          <div class="mb-4 flex h-10 w-10 items-center justify-center rounded bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12">
            <svg class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
              <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <h3 class="mb-4 text-xl font-bold dark:text-white capitalize">{cat.name}</h3>
          {
            cat.posts.map((post) => {
              
              return(
              <ul role="list" class="mb-4 space-y-3 text-gray-500 dark:text-gray-400">
                      <li>
                      <a href={`/${post.frontmatter.slug}`} class="hover:underline">{post.frontmatter.title}</a>
                      </li>
                  </ul>
              )
            })
          } 
             <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500 float-right">View all</a>
          </div>
            )
          })
        }

      </div>
      
      </div>
 </div>
</Layout>