---
import i18next,{ t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import { Icon } from 'astro-icon';
// import { Image } from '@astrojs/image/components';
// import twitter from '/assets/icon-twitter.svg';
// import linkedin from '/assets/icon-linkedin.svg';
// import googlePlay from '/assets/img-googlePlay.svg';
// import appStore from '/assets/img-appStore.svg';
const pathUrl = i18next.language === 'en'? '/ar/' : '/';
---
<section class="bg-bgFooter">
    <div class="py-5 px-3 mx-auto w-full md:w-auto flex justify-around md:flex md:justify-between max-w-6xl md:px-4">
        <div class="md:w-3/12 space-y-5">
            <h3 class="font-semibold text-white font-fMedium">{t("FOOTER.JOIN")}</h3>
            <div class="md:flex md:items-center sm:flex sm:items-center space-y-3 sm:space-y-0 md:space-y-0 lg:space-y-0 gap-3">
                <img
				src={`/assets/img-googlePlay.svg`}
				alt="googlePlay"
				loading="lazy"
				decoding="async"
				width={150}
				height={37}
			/>
                <img
				src={`/assets/img-appStore.svg`}
				alt="appStore"
				loading="lazy"
				decoding="async"
				width={150}
				height={37}
			/>
            </div>
            <div class="md:flex md:items-center gap-3 space-x-3">
                <a class="text-white no-underline text-sm font-fMedium" href="#">{t("FOOTER.TERMS")}</a>
                <a class="text-white no-underline text-sm font-fMedium" href="#">{t("FOOTER.PRIVACY")}</a>
            </div>
        </div>
        <div class="md:w-3/12 space-y-3">
                <!-- <LanguageSelector showFlag={false} class="languages p-1 text-sm px-3 border-b-2 text-white border-white font-light bg-inherit active:text-black w-full" /> -->

        <div class="flex flex-col gap-3">
            <li class="list-none">
                <a href={pathUrl} class="text-sm text-white font-light bg-inherit active:text-black w-full inline-flex gap-3">
                    <Icon name="mdi:web" class="text-white w-5 font-fMedium" />{t("NAV.LANG")}</a>
            </li>
            <p class="text-white flex items-center gap-3 text-sm mt-5"><Icon name="ic:outline-location-on" class="text-white w-5 font-fMedium" />{t("FOOTER.LOCATION")}</p>
            <p class="text-white flex items-center gap-3 text-sm"><Icon pack="ic" name="outline-phone" class="text-white w-5 font-fMedium" /> (+966) 9200 2030 4 </p>
            <p class="text-white flex items-center gap-3 text-sm"><Icon pack="ph" name="envelope-simple" class="text-white w-5 font-fMedium" />Care@tweeq.sa</p>
            <div class="flex gap-3 mb-5">
                <img
            src={`/assets/icon-twitter.svg`}
            alt="twitter"
            loading="lazy"
            decoding="async"
            width={15}
            height={15}
        />
            <img
            src={`/assets/icon-linkedin.svg`}
            alt="linkedin"
            loading="lazy"
            decoding="async"
            width={15}
            height={15}
        />
            </div>
        <span class="text-white text-xs font-fMedium"> &copy; Tweeq 2022</span>
        </div>
        </div>
    </div>
</section>