---
import i18next,{t, changeLanguage,  } from "i18next";
import { Trans, LanguageSelector } from "astro-i18next/components";

const homeUrl = i18next.language === 'ar'? '/ar/' : '/';
const pathUrl = i18next.language === 'en'? '/ar/' : '/';

const navs = [
	{ name: t("NAV.FEATURES"), url: homeUrl},
	{ name: t("NAV.SPEND"), url: "#" },
	{ name: t("NAV.SEND"), url: "#" },
	{ name: t("NAV.SAVE"), url: "#" },
	{ name: t("NAV.HELP"), url: "#" },
	{ name: t("NAV.LANG"), url: pathUrl },
];

---
<header 
	class="sticky top-0 z-40 flex-none mx-auto w-full md:bg-bgPrimary/90 md:backdrop-blur-sm sm:bg-bgPrimary/90 sm:backdrop-blur-sm bg-bgPrimary/90 backdrop-blur-sm">
	<div class="py-3 px-3 md:px-0 sm:px-3 mx-auto w-full md:flex md:justify-between max-w-6xl max-h-18">
		<div class="md:flex md:justify-between w-full">
			<div class="flex items-center gap-2">
				<a class="flex items-center tex-sm text-slate-700 font-medium no-underline" href={homeUrl}>
					<img
					src={`/assets/logov.svg`}
					alt="logo"
					loading="lazy"
					decoding="async"
					width={32}
					height={10}

				/>
				</a>
				<h3 class="text-2xl text-white">tweeq</h3>
			</div>

			<div class="flex items-center justify-center">
				<nav
				class="w-full md:w-auto flex sm:flex md:flex text-white md:h-auto sm:max-h-10 max-h-10"
				aria-label="Main navigation"
				id="menu"
			>
			{
				navs.map((nav)=> { return(
					<ul class="list-none md:flex md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base">
					<li class="sm:m-0 sm:p-0">
						<a
							class="font-medium text-sm md:px-5 md:py-1 hover:text-gray-900 md:flex items-center transition duration-150 ease-in-out no-underline text-white"
							href={nav.url}>{nav.name}</a>	</li>
					</ul>
				)
				})
			}
			</nav>
			<!-- <LanguageSelector showFlag={false} class="languages text-white text-sm mb-1 mx-3 font-light bg-inherit appearance-none" /> -->
			<button class="bg-bgButton md:py-3 md:px-6 sm:py-2 sm:px-6 sm:min-w-fit py-2 px-3 min-w-fit rounded-full text-white">Get the app</button>
			</div>
	</div>		
		
	</div>
</header>
