---
import { t, changeLanguage } from "i18next";
import Blogs from '../../components/Home/Blogs.astro';
import Header from '../../components/Home/Header.astro';
import Layout from '../../layouts/Layout.astro';

changeLanguage('ar')
---
<Layout title="Home">
	<head>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<Header  />
	<body>
		<main>
			<Blogs  />
		</main>
		<script>
			declare global {
				interface Window {
					netlifyIdentity:any;
				}
			}
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user:any) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>
	</body>
</Layout>


