---
import { Icon } from 'astro-icon';
import { t, changeLanguage } from "i18next";
import CustomerCare from "../../components/CustomerCare/CustomerCare.astro";
import FaqSection from "../../components/FaqSection/FaqSection.astro";
import Footer from "../../components/Home/Footer.astro";
import Layout from "../../layouts/Layout.astro";

export interface Props {
  title: string;
  category: string;
  author: string;
  excerpt: string;
  slug: string;
}
const posts = await Astro.glob("../posts/ar/*.{md,mdx}");
const allCategories = posts
  .filter((post) => post.frontmatter.category !== undefined)
  .map((cat) => cat.frontmatter.category);
const unique = allCategories.filter((v, i, a) => a.indexOf(v) === i);

const categories = unique.map((category: Props) => {
  const customizedCategory = posts.filter((post) => {
    if (post.frontmatter.category !== undefined) {
      if (post.frontmatter.category === category) {
        const item = {
          category: category,
          title: post?.frontmatter?.title,
          author: post?.frontmatter?.author,
          excerpt: post?.frontmatter?.excerpt,
          slug: post?.frontmatter?.slug,
        };
        return item;
      }
    }
  });
  return { name: category, posts: customizedCategory };
});

// console.log(categories);
changeLanguage("ar");
---
<Layout title="posts">
  <div dir="ltr" class="mx-auto max-w-6xl py-8 sm:py-16 lg:px-6 sm:px-3">
    <h2 class="mb-4 text-6xl font-extrabold tracking-tight text-gray-900 text-center">Help topics</h2>
   <!-- <div class="mx-auto mb-8 max-w-screen-md text-center lg:mb-16">
     <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">{t('HEADING_TITLE')}</h2>
     <p class="mb-8 font-light text-gray-500 sm:text-xl">{t('HEADING_SUMMARY')}</p>
     <div id="search"></div>
     <p class="mt-4 text-sm text-gray-500">{t("SUB_TITLE")}</p>
   </div> -->
     <div class="mx-auto max-w-6xl py-8 px-4 sm:py-16 lg:px-6">
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 md:grid-cols-3 xl:grid-cols-3">
 
         {
           categories.map((cat:any) => {
             return (
             <div class="p-4 shadow-sm bg-white rounded-3xl space-y-3">
               <div class="w-8 h-8 rounded-full bg-[#F1F2F5] flex items-center justify-center mt-5">
                 {cat.name==="Cards" && <Icon pack="ic" name="baseline-credit-card" class="text-textPrimary w-5" />}
                 {cat.name==="Payments" && <Icon name="ic:baseline-add" class="text-textPrimary w-5" />}
                 {cat.name==="General" && <Icon name="ic:baseline-arrow-forward" class="text-textPrimary w-5" />}
                 {cat.name==="Other" && <Icon name="ic:outline-payments" class="text-textPrimary w-5" />}
                 </div>
 
           <h3 class="text-2xl font-bold capitalize">{cat.name}</h3>
           {
             cat.posts.map((post:any) => {
               
               return(
               <ul class="text-gray-500 list-none">
                       <li >
                       <a href={`/ar/${post.frontmatter.slug}`} class="hover:underline text-slate-700 no-underline text-sm font-light">{post.frontmatter.title}</a>
                       </li>
                   </ul>
               )
             })
           } 
           </div>
             )
           })
         }
       </div>      
       </div>
  </div>
  <FaqSection />
  <CustomerCare />
  <Footer />
 </Layout>