---
import { t, changeLanguage } from "i18next";
import ArArticles from "../../components/Home/ArArticles.astro";
import Header from '../../components/Home/Header.astro';
import Layout from '../../layouts/Layout.astro';

changeLanguage('ar')
---
<Layout title="Home">
	<Header  />
	<main>
		<ArArticles />
	</main>
</Layout>


