---
const {frontmatter} = Astro.props;
---
<Layout frontmatter={frontmatter}> 
  <main class="dark:bg-black">
    <article class="post">
      <Header />
      <section
        class="px-4 lg:px-0 my-8 max-w-screen-lg mx-auto prose prose-purple lg:prose-xl dark:prose-invert"
      >
        <slot />
      </section>
    </article>
  </main>
</Layout>