---
import '../styles/main.css'
import i18next, { t } from "i18next";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
		<script type="text/javascript">
		algoliasearchNetlify({
			appId: 'AJ0TJBM9BY',
			apiKey: 'bb58dfd8daeff7738bb42dd7aee8426c',
			siteId: '8a723c2c-0197-4fbf-9961-23a42b30dcc0',
			branch: 'algo-test',
			selector: 'div#search',
		});
			
		</script> 
	</body>
</html>

