---
import '../styles/main.css'
import i18next, { t } from "i18next";
export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
		<script type="text/javascript">		
   			algoliasearchNetlify({
			appId: 'AXQFNLOTUN',
			apiKey: '65e05d13c4d9893af2649ac8a2799a7c',
			siteId: 'f7c3c02f-9e4e-41fc-a0ba-3b2b050640c8',
			branch: 'algo-test',
			selector: 'div#search',
		});
		</script> -->
	</body>
</html>

