---
import '../styles/main.css'
import i18next,{changeLanguage} from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Header from '../components/Home/Header.astro';
import Home from '../components/Home/Home.astro';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html dir={i18next.language === 'ar' ? "rtl" : "ltr"}  lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/logov.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
		<HeadHrefLangs />
	</head>
	<body>
		<Home  />
		<slot />
		<script is:inline src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>		
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
		<script type="text/javascript">
		algoliasearchNetlify({
			appId: '9TO1OGGKQB',
			apiKey: 'dcdcc926d0a2849711ecc3467b236c72',
			siteId: '6839f40b-ae1a-4f0a-9e9b-becbbcfa73ab',
			branch: 'final_design',
			selector: 'div#search',
		});
		</script>
		<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script>
			declare global {
				interface Window {
					netlifyIdentity:any;
				}
			}
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user:any) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>
	</body>
</html>

